<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>FikeFino - Cadastro (ADMIN)</title>
</head>
<body>
<div class="content">
    <h1>Cadastro de Usuários</h1>
    <form th:action="@{/admin/cadastro}" th:method="post" th:object="${usuario}">

        <div>
            <input name="email" type="text" placeholder="Nome de usuário" class="inputs required" oninput="emailValidate()">
            <span class="span-required">Digite um email válido</span>
        </div>

        <div>
            <input name="pass" type="password" placeholder="Senha" class="inputs required" oninput="mainPasswordValidate()">
            <span class="span-required">Digite uma senha com no mínimo 8 caracteres</span>
        </div>

        <div>
            <label class="inputs required">Papéis:</label><br>
            <select class="inputs required" multiple name="papeis">
                <option th:each="papel : ${papeis}"  th:text="${papel.nome}"></option>
            </select>
        </div>

        <button type="submit">Cadastrar</button>
    </form>
    <a th:href="@{/admin/logout}"><img class="but" src="/img/logout.png"></a>
</div>
</body>