<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/script.js"></script>
    <title>FikeFino - Cadastro (ADMIN)</title>
</head>
<body>
<div class="content">
    <h1>Cadastro de Usuários</h1>
    <form action="/admin/cadastro" id="form" method="POST">

        <div>
            <input name="usuario" type="text" placeholder="Nome de usuário" class="inputs required" oninput="emailValidate()">
            <span class="span-required">Digite um email válido</span>
        </div>

        <div>
            <input name="email" type="email" placeholder="E-mail" class="inputs required" oninput="emailValidate()">
            <span class="span-required">Digite um usuário válido</span>
        </div>

        <div>
            <input name="senha" type="password" placeholder="Senha" class="inputs required" oninput="mainPasswordValidate()">
            <span class="span-required">Digite uma senha com no mínimo 8 caracteres</span>
        </div>

        <button type="submit">Cadastrar</button>
    </form>
</div>
</body>