<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/alunos.css">
    <title>FikeFino - Alunos</title>

</head>
<body>

<div class="content">
    <h1>Matriculados</h1>
    <table>
        <thead>
        <tr>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th>CPF</th>
            <th>USERNAME</th>
            <th>DATA DE NASCIMENTO</th>
            <th>SENHA</th>
            <th>PLANO</th>
            <th>MENSALIDADE</th>
            <th>BENEFÍCIO</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aluno : ${alunos}">
            <td>[[${aluno.nome}]]</td>
            <td>[[${aluno.email}]]</td>
            <td>[[${aluno.cpf}]]</td>
            <td>[[${aluno.usarname}]]</td>
            <td>[[${aluno.dataNascimento}]]</td>
            <td>[[${aluno.senha}]]</td>
            <td>[[${aluno.meuPlano}]]</td>
            <td>R$ [[${aluno.mensalidade}]]</td>
            <td>[[${aluno.beneficios}]]</td>
            <td colspan="2">
            <td><form th:action="@{/aluno/{id}(id=${aluno.id})}" th:method="delete">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" id="submitButton" style="border: none; background: none; padding: 0;">
                    <img src="/img/deletar-conta.png" alt="Deletar" />
                </button>
            </form>
            </td>
            <td>
                <form th:action="@{/aluno/{id}(id=${aluno.id})}" th:method="put" th:object="${aluno}">
                    <input type="hidden" name="_method" value="put" />
                    <button type="submit" id="submitButton" style="border: none; background: none; padding: 0;">
                        <img src="/img/em-processamento.png" alt="Atualizar" />
                    </button>
                </form>
            </td>

            </td>


        </tr>

        </tbody>
    </table>
    <form th:action="@{/aluno}" th:method="get">
        <button type="submit">Cadastrar</button>
    </form>
</div>
</body>