<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>FikeFino - Login</title>
</head>
<body>
<div class="content">
    <h1>Logar <img src="/img/perfil.png"></h1>
    <form th:action="@{/admin/login}" id="form" th:method="post" th:object="${usuario}">
        <div>
            <img src="/img/email.png">
            <input name="username" type="email" placeholder="usuário" th:field="*{username}" class="inputs required">
            <div class="erro" th:errors="*{username}">E-mail inválido</div>
        </div>
        <div>
            <img class="pass" src="/img/senha.png">
            <input name="password" type="password" placeholder="senha" class="inputs required" >
            <div class="erro" th:errors="*{password}">Senha inválida</div>
        </div>

        <button type="submit">Logar</button>
    </form>
</div>
</body>