<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/alunos.css">
    <script src="/script.js"></script>
    <title>FikeFino - Alunos</title>

</head>
<body>

<div class="content">
    <h1>Usuários</h1>
    <table>
        <thead>
        <tr>
            <th>USERNAME</th>
            <th>E-MAIL</th>
            <th>SENHA</th>
            <th>AÇÕES</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${usuarios}">
            <td>[[${user.usuario}]]</td>
            <td>[[${user.email}]]</td>
            <td>[[${user.senha}]]</td>
            <td><form th:action="@{/admin/{id}(id=${user.id})}" th:method="delete">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" id="submitButton" style="border: none; background: none; padding: 0;">
                    <img src="/img/excluir.png" alt="Deletar" />
                </button>
            </form>
            </td>
        </tr>

        </tbody>
    </table>

</div>
</body>